<style>
    .htkh a {
        text-decoration: none;
        color: black;
        display: block;
    }
</style>
<footer class="row py-8 d-flex" style="background-color: rgba(128, 173, 130, 0.608); height: fit-content; padding-bottom: 50px;">
    <div class="col-6 htkh " >
        <div style="line-height: 30px; padding: 30px 10% 0px 30%;">
            <h5>CHÍNH SÁCH HỖ TRỢ</h5>
            <div style="height: 3px; background-color: rgb(48, 68, 52); width: 80%;"></div>
            <a href="">> Chính sách khách hàng thân thiết</a>
            <a href="">> Hướng dẫn đặt hàng</a>
            <a href="">> Hướng dẫn thanh toán</a>
            <a href="">> Chính sách bảo hành</a>
        </div>
    </div>
   <div class="col-6">
    <div  style="line-height: 30px;padding: 30px 20% 0px 20%;">
        <h5>THÔNG TIN LIÊN HỆ</h5>
        <div style="height: 3px; background-color: rgb(48, 68, 52); width: 80%;"></div>
        <p><i class="ti-mobile"></i> (+84) 39547852</p>
        <p class="ti-email"> contact@lalalen.com.vn</p>
        <p class="ti-location-pin"> Trịnh Văn Bô, Nam Từ Niêm, Hà Nội</p>
    </div>
   </div>
  
</footer>

<div
    style="height: 50px; width: 100%; background-color: rgb(48, 68, 52); display: flex; align-items: center;  justify-content: center;">
    <i class="ti-facebook px-2" style="font-size: 110%; color: aliceblue;"></i>
    <i class="ti-instagram px-2" style="font-size: 110%; color: aliceblue;"></i>
    <i class="ti-pinterest-alt px-2" style="font-size: 110%; color: aliceblue;"></i>
    <i class="ti-twitter-alt px-2" style="font-size: 110%; color: aliceblue;"></i>
    <i class="ti-skype px-2" style="font-size: 110%; color: aliceblue;"></i>
</div>